*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
pkg

# Eclipse
.project

# Markdown preview
.README.md.html
.CHANGELOG.md.html

# Dummy App assets
test/dummy/vendor/assets/components

# Log files
test/dummy/log